.width-100p {
  width: 100%;
}
.max-width-1200px {
  max-width: 1200px;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.text-medium {
  font-size: 24px;
}
.txt-bold {
  font-weight: bold;
}
.txt-underline {
  text-decoration: underline;
}
.background-accent-dark {
  background-color: #282c34;
}
.color-white {
  color: white;
}
.min-height-100vh {
  min-height: 100vh;
}
.max-height-100vh {
  max-height: 100vh;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
.rows\>m16 > :not(:last-child) {
  margin-bottom: 16px;
}
.cols\>m16 > :not(:last-child) {
  margin-right: 16px;
}
.padding-y-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.cursor-pointer {
  cursor: pointer;
}
.border-style-solid {
  border-style: solid;
}
.border-width-0 {
  border-width: 0;
}
.border-top-width-2 {
  border-top-width: 2px;
}
.border-bottom-width-2 {
  border-bottom-width: 2px;
}
.border-color-white {
  border-color: white;
}
